body{
  background-color: rgba(218, 218, 218, 0.776);
}

#caja_cv{
  margin: auto;
  margin-top: 30px;
  height: 2000px;
  width: 1000px;
  border: 2px solid black;
}

.solapa{
  height: 200px;
  width: 998px;
  background-color: skyblue;
  position: relative;
  right: 13px;
  margin-left: 1px;
  border-bottom: 2px solid black;
}

.img{
  width: 180px;
  height: 180px;
  border-radius: 150px;
  position: absolute;
  top: 10px;
  left: 35px;
}

.nombre{
  height: 210px;
  width: 250px;
  position: absolute;
  margin-left: 225px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes{
  height: 200px;
  position: relative;
  margin: 0px 75px 0px 700px;
  width: 230px;
}

.links_redes{
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.cuerpo{
  position: relative;
  width: 998px;
  height: 1390px;
  right: 11px;
}

.categorias{
  width: 7%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.ref{
  text-decoration: none;
  color: black;
}

.escudos{
  width: 50px;
  height: 50px;
}

@media (max-width: 575.98px){
  .pwo{
    font-size: large;
  }
}

@media (min-width: 576px){
  .container, .container-sm {
    max-width: 998px;
  }
  
  .spanInf{
    font-size: 30px;
  }

  .iconoInf{
    font-size: 30px;
  }

  .divInf{
    margin-top: 45px;
  }

  .exp{
    font-size: 35px;
  }
}

@media (min-width: 490px) and (max-width: 680px){
  .spanInf{
    font-size: 35px;
  }

  .iconoInf{
    font-size: 40px;
  }

  .divInf{
    margin-top: 60px;
  }

  .listaInf{
    font-size: 22px;
  }

  .fuenteAlturaExp{
    font-size: 20px;
  }
  
  .exp{
    font-size: 35px;
  }
}

@media (min-width: 200px) and (max-width: 489.98px){
  #caja_cv{
    height: 2500px;
  }

  .spanInf{
    font-size: 45px;
  }

  .iconoInf{
    font-size: 50px;
  }

  .divInf{
    margin-top: 72px;
  }

  .listaInf{
    font-size: 27px;
    margin-top: 10px;
  }

  .fuenteNombreClub{
    font-size: 40px;
  }

  .fuenteAlturaExp{
    font-size: 27px;
  }
  
  .exp{
    font-size: 35px;
  }
}