body{
  background-color: rgba(218, 218, 218, 0.776);
}

.container-fluid{
  margin: auto;
  margin-top: 30px;
  height: 730px;
  width: 1000px;
  border: 2px solid black;
}

.solapa{
  height: 728px;
  width: 250px;
  background-color: skyblue;
  position: relative;
  right: 13px;
  bottom: 1px;
}

.img{
  width: 180px;
  height: 180px;
  border-radius: 150px;
  position: absolute;
  top: 40px;
  left: 35px;
}

.datos{
  top: 245px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul{
  list-style-type: circle;
}

.link{
  text-decoration: none;
  color: black;
}